:host {
  display: contents;
}

.stylospectrum-table {
  &-group-row {
    height: 2rem;
    color: #eaecee;
    font-size: 0.875rem;
    font-family: '72override', '72', '72full', Arial, Helvetica, sans-serif;
    background-color: #0c0f13;
    border-bottom: 1px solid #768ea5;

    &-selected {
      background-color: #1d2d3e;
    }
  }

  &-multi-select-cell {
    border-right: 1px solid #2e3742;
  }

  &-multi-select-checkbox {
    display: block;
  }

  &-expand-icon {
    width: 2rem;
    margin-left: 0.5rem;
    font-size: 0.875rem;
    cursor: pointer;
  }
}

td {
  padding: 0;
  text-align: start;
  vertical-align: middle;
  word-break: break-word;
  border-right: 0.0625rem solid #2e3742;
  user-select: none;
}
