:host {
  display: contents;
}

.stylospectrum-table {
  &-row {
    color: #eaecee;
    background-color: #1d232a;
    border-bottom: 1px solid #2e3742;

    &-selected {
      background-color: #1d2d3e;
    }
  }

  &-multi-select-checkbox {
    display: block;
  }
}

td {
  box-sizing: border-box;
  height: 2rem;
  color: #eaecee;
  font-size: 0.875rem;
  font-family: '72override', '72', '72full', Arial, Helvetica, sans-serif;
  vertical-align: middle;
  word-break: break-word;
  border-right: 0.0625rem solid #2e3742;
  user-select: none;

  span {
    padding: 0 0.5rem;
  }
}
