.stylospectrum-form-item {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  align-items: flex-start;
  align-self: stretch;
  margin-bottom: 16px;

  &-label-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
