:host {
  display: block;
  margin-bottom: 1rem;
}

.stylospectrum-form-item {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  align-items: flex-start;
  align-self: stretch;

  &-label-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
