:host(:not([hidden])) {
  display: inline-flex;
}

:host {
  max-width: 100%;
  color: #8396a8;
  font-weight: normal;
  font-size: 0.875rem;
  font-family: '72override', '72', '72full', Arial, Helvetica, sans-serif;
  cursor: text;
}

.stylospectrum-label-wrapper {
  width: 100%;
  white-space: normal;
  cursor: inherit;
}

:host([required]) .stylospectrum-label-required-colon::after {
  position: relative;
  color: #ff78a4;
  font-weight: bold;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 0;
  vertical-align: middle;
  content: '*';
}

:host([required][show-colon]) .stylospectrum-label-required-colon::after {
  margin-inline-start: 0.125rem;
}

:host([show-colon]) .stylospectrum-label-required-colon {
  margin-inline-start: -0.05rem;

  &::before {
    content: attr(data-colon);
  }
}
