:host {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  min-width: 4rem;
  height: unset;
  padding: 1.25rem 0 0.75rem;
  overflow: hidden;
  padding-inline-end: 1.25rem;
}

.stylospectrum-progress-indicator {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 0.375rem;
  min-height: var(--_ui5-v1-21-2_progress_indicator_root_min_height);
  overflow: visible;
  font-size: 0.875rem;
  font-family: '72override', '72', '72full', Arial, Helvetica, sans-serif;
  background: #2e3b48;
  border-radius: 0.25rem;

  &-bar {
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 0.625rem;
    color: #eaecee;
    background: #a9b4be;
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;
    transition-timing-function: linear;
    transition-property: width;
  }

  &-remaining-bar {
    position: absolute;
    display: flex;
    flex-basis: 0;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: visible;
    color: #fff;
    border: none;
    border-radius: var(
      --_ui5-v1-21-2_progress_indicator_remaining_bar_border_radius
    );
    border-inline-start: none;

    &::after,
    &::before {
      position: absolute;
      display: block;
      width: 0.25rem;
      height: 0.25rem;
      background: #a9b4be;
      border-radius: 50%;
      content: '';
    }

    &::before {
      left: 0.0625rem;
    }

    &::after {
      right: 0.0625rem;
    }
  }

  &-value {
    position: absolute;
    top: -1.3125rem;
    max-width: 100%;
    margin: 0 0 0.1875rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    inset-inline-start: 0;
  }

  &-max-value &-bar {
    border-radius: 0.5rem;
  }
}
