:host {
  display: inline-block;
  box-sizing: border-box;
  min-width: 2rem;
  height: 1.625rem;
  overflow: hidden;
  font-weight: 700;
  font-size: 0.875rem;
  font-family: '72', '72full', arial, helvetica, sans-serif;
  line-height: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  border-radius: 0.5rem;
  cursor: pointer;
}

:host([disabled]) {
  cursor: not-allowed;
  opacity: 0.4;
}

:host([type='Primary']) {
  color: #eaecee;
  background: #0070f2;
  border-color: #0070f2;
}

:host([type='Primary']:not([disabled]):hover) {
  color: #eaecee;
  background-color: #0064d8;
  border-color: #0064d8;
}

:host([type='Primary']:not([disabled]):active) {
  color: #4db1ff;
  background-color: #202932;
  border-color: #4db1ff;
}

:host([type='Secondary']) {
  color: #4db1ff;
  background: #1c242c;
  border: 0.0625rem solid #3a4a5a;
}

:host([type='Secondary']:not([disabled]):hover) {
  color: #4db1ff;
  background-color: #222b35;
  border-color: #3a4a5a;
}

:host([type='Secondary']:not([disabled]):active) {
  color: #4db1ff;
  background-color: #213131;
  border-color: #4db1ff;
}

:host([type='Tertiary']) {
  color: #4db1ff;
  background: transparent;
  border-color: transparent;
}

:host([type='Tertiary']:not([disabled]):hover) {
  color: #4db1ff;
  background-color: #222b35;
  border-color: #3a4a5a;
}

:host([type='Tertiary']:not([disabled]):active) {
  color: #4db1ff;
  background-color: #213131;
  border-color: #4db1ff;
}

:host([focused]:not(:active)) .stylospectrum-button::after {
  position: absolute;
  inset: 0.0625rem;
  box-sizing: border-box;
  border: 0.125rem solid #9ad3ff;
  border-radius: 0.375rem;
  content: '';
}

:host([type='Primary'][focused]) .stylospectrum-button::after {
  border-color: #000;
}

.stylospectrum-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  min-width: inherit;
  height: 100%;
  padding: 0 0.5rem;
  overflow: inherit;
  color: inherit;
  font: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  white-space: inherit;
  text-overflow: inherit;
  text-shadow: inherit;
  word-spacing: inherit;
  background: inherit;
  border: none;
  outline: none;
  cursor: inherit;
  user-select: none;

  &-icon {
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
  }

  &-has-icon {
    min-width: auto;
    padding: 0;
  }
}
