:host {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  min-width: 6rem;
  min-height: 1.625rem;
  margin: 0.1875rem 0;
  color: #fff;
  font-size: 0.875rem;
  font-family: '72override', '72', '72full', Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 1.5;
  text-align: start;
  background: 0 100% / 100% 0.0625rem no-repeat
    linear-gradient(0deg, #a9b4be, #a9b4be) border-box;
  background-color: #161c22;
  border: none;
  border-radius: 0.25rem;
  box-shadow: inset 0 0 0 0.0625rem rgba(169, 180, 190, 0.25);
  transition: none;
}

:host([disabled]) {
  background-color: #161c22;
  border-color: #a9b4be;
  cursor: default;
  opacity: 0.4;
  pointer-events: none;
}

:host([focused]) .stylospectrum-textarea-wrapper::after {
  position: absolute;
  inset: 0;
  z-index: 2;
  border: 0.125rem solid transparent;
  border-radius: 0.25rem;
  content: '';
  pointer-events: none;
}

:host([value-state='None']:not([focused]):hover) {
  background: 0 100% / 100% 0.0625rem no-repeat
    linear-gradient(0deg, #4db1ff, #4db1ff) border-box;
  background-color: #1d232a;
  border-color: #4db1ff;
  box-shadow: inset 0 0 0 0.0625rem rgba(77, 177, 255, 0.3);
}

:host([value-state='None'][focused]) {
  background-color: #1d232a;
  border-color: #4db1ff;

  .stylospectrum-textarea-wrapper::after {
    border-color: #4db1ff;
  }
}

:host([value-state='Error']:not([disabled])) {
  background: 0 100% / 100% 0.125rem no-repeat
    linear-gradient(0deg, #fa6161, #fa6161) border-box;
  background-color: #350000;
  border: 0.125rem none #fa6161;
  box-shadow: inset 0 0 0 0.0625rem rgba(248, 38, 38, 0.3);
}

:host([value-state='Error']:not([focused]):hover) {
  background-color: #1d232a;
  box-shadow: inset 0 0 0 0.0625rem rgba(248, 38, 38, 0.3);
}

:host([value-state='Error'][focused]) {
  background-color: #1d232a;
  border-color: #fa6161;

  .stylospectrum-textarea-wrapper::after {
    border-color: #fa6161;
  }
}

:host([growing]) .stylospectrum-textarea {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100%;
}

.stylospectrum-textarea {
  flex: 1 1 0%;
  box-sizing: border-box;
  width: 100%;
  min-height: 2.9375rem;
  padding: 0.1875rem 0.5rem 0.125rem;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-overflow: ellipsis;
  word-spacing: inherit;
  background: transparent;
  border: none;
  outline: none;
  appearance: none;
  resize: none;

  &::-webkit-scrollbar:horizontal {
    height: 0.75rem;
  }

  &::-webkit-scrollbar:vertical {
    width: 0.75rem;
  }

  &::-webkit-scrollbar {
    background-color: #1d232a;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #647891;
    border: 0.125rem solid #1d232a;
    border-radius: 0.75rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #8697ac;
  }

  &::-webkit-scrollbar-corner {
    background-color: #1d232a;
  }

  &::-webkit-placeholder {
    color: #8396a8;
    font-weight: normal;
    font-style: italic;
  }

  &-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 100%;
    min-height: 2.9375rem;
    padding: 0.0625rem;
    color: inherit;
    background: transparent;
    border-radius: 0.25rem;
    outline: none;
  }

  &-value-state-message {
    display: inline-block;
    color: #eaecee;
    font-weight: 400;
    font-size: 0.75rem;
    font-family: '72override', '72', '72full', Arial, Helvetica, sans-serif;
    line-height: normal;

    &-icon {
      display: inline-block;
      color: #fa6161;
      font-weight: 400;
      font-size: 1rem;
    }

    &-wrapper {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: flex;
      gap: 0.375rem;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      padding: 0.5rem;
      background: #350000;
      border-radius: 0.5rem;
      box-shadow:
        0 2px 8px 0 rgba(0, 0, 0, 0.6),
        0 0 0 1px rgba(255, 255, 255, 0.35);
    }
  }

  &-mirror {
    box-sizing: border-box;
    width: 100%;
    min-height: 2.9375rem;
    max-height: 94vh;
    padding-top: 0.1875rem;
    padding-bottom: 0.125rem;
    font-size: 0.875rem;
    font-family: '72override', '72', '72full', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    word-break: break-all;
    visibility: hidden;
  }
}
