.stylospectrum-list-item {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 2rem;
  padding-right: 0.75rem;
  background-color: #1d232a;
  border-bottom: 1px solid transparent;
  cursor: pointer;

  &-focused {
    background-color: #222b35;

    &::after {
      position: absolute;
      border: 0.125rem solid #9ad3ff;
      border-radius: 0;
      content: '';
      pointer-events: none;
      inset: 0.125rem;
    }
  }

  &-selected {
    background: #1d2d3e;
    border-bottom-color: #4db1ff;
  }

  &-icon {
    color: #a9b4be;
    font-size: 1rem;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
    }
  }

  &-text {
    display: block;
    overflow: hidden;
    color: #eaecee;
    font-weight: 400;
    font-size: 0.875rem;
    font-family: 72;
    font-family: '72override', '72', '72full', Arial, Helvetica, sans-serif;
    text-overflow: ellipsis;
  }

  &:hover {
    background-color: #222b35;
  }

  &:active {
    background-color: #020303;
  }
}
